
<li class="treeview">
    <a href="#">
        <i class="fa fa-edit"></i> <span>ActivityLog Menu</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li><a href="@Url.Action("ActivityLog", "ActivityLogReport", new { area="Portal" })"><i class="fa fa-circle-o"></i> Audit Logs</a></li>
    </ul>
</li>
